* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 20px;
}

html {
    font-size: 18px;
}

.box {

    padding: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.box label {
    padding: 10px;
}

.box button {
    margin-top: 15px;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
}

.box span {
    color: red;
}

h1 {
    text-align: center;
}

.amount {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
 
.amount p {
    padding: 10px 0 10px 10px;
}


@media (max-width: 767px) {
    .box {
        display: flex;
        flex-direction: column;
    }
}
